:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-background-color: #2E2F42;
    --background-color: #F4F4FD;
    --text-color: #4D5AE5;
    --secondary-background-color: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24;
    letter-spacing: .32;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;


}
.active-link{
    color: #404bbf;
}
.link-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.link-list:hover {
    color: #4D5AE5;
}
.link-list:focus {
    color: #4D5AE5;
}
.link-list:active {
    color: #4D5AE5;
}
.link{
    text-decoration: none;
    color: inherit;
}

.address-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}


.address-link:hover {
    color: #4D5AE5; 
}

.address-link:focus {
    color: #4D5AE5
}

.address-link:active {
    color: #4D5AE5;
}


.web-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5; 
}
.studio-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2E2F42;
    
}
.header-main{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    
}
.button-tab{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    background-color: #4D5AE5;
    border: none;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    
}
.button-tab:hover {
    background-color: #404BBF;
}

.main-section{
    background-color: #2E2F42;

}
.button{
    cursor: pointer;
}

.filter-button{
    color: #4D5AE5;
    background: #f4f4fd;
    border: 1 px solid #E7E9FC;
    border-radius: 4px;
    font-family:  inherit;
    font-weight: 500;
    font-size: 16;
    line-height: 24px;
    cursor: pointer;
}
.filter-button:hover{
    color: #ffffff;
    background-color: #404BBF;
    border-color: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


.filter-active{
    color: white;
    background-color: #404BBF;
    border: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}



.list-section{
    list-style: none;
}
.section-grey{
    background-color: #F4F4FD;
}
.team-list-section{
    list-style: none;
    background-color:#F4F4FD;
}
.image-list{
    list-style: none;
}

.benefits-title, .team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

.team-position{
    color: #434455;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}

.project-title{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42
}
.project-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455
}
.display{
    background-color: #2E2F42;
}
.studio-footer {
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD
}