body {
    font-family: "Roboto", sans-serif;
}

.link {
    text-decoration: none;
}
.logo-link {
    text-decoration: none;
}
.web-logo{
    text-transform: capitalize;
}
.contacts-text{
    text-transform: var(hover)
}

.button{
    cursor: pointer;
}
.button-one{
    font-family: sans-serif; 
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #4D5AE5;
    border: none;
}

.button-one:hover {
    color: crimson; 
}
.button-one:focus {
    color: orange;
}
.button-one:active {
    color: red;
}
.button-one:visited {
    color:purple;
}


.button-item{
    color: #4D5AE5;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.button-item:hover {
    color: green; 
}
.button-item:focus {
    color: orange;
}
.button-item:active {
    color: red;
}
.button:visited {
    color:purple;
}
.header-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42
}
.label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455
}




