:root {
    --primary-white-color: #ffffff;
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-background-color: #2E2F42;
    --background-color: #F4F4FD;
    --text-color: #4D5AE5;
    --secondary-background-color: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
}

.link-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

.link-list:hover {
    color: #4D5AE5;
}
.link-list:focus {
    color: #4D5AE5;
}
.link-list:active {
    color: #4D5AE5;
}
.link{
    text-decoration: none;
    list-style: none;
}

.email-link{
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.phone-link{
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}


.email-link:hover {
    color: #4D5AE5; 
}

.email-link:focus {
    color: #4D5AE5
}

.email-link:active {
    color: #4D5AE5;
}
.phone-link:hover {
    color: #4D5AE5; 
}
.phone-link:focus {
    color: #4D5AE5;
}
.phone-link:active {
    color: #4D5AE5;
}

.web-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #4D5AE5; 
}
.studio-logo{
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2E2F42;
    
}
.header-main{
    font-family: "ROBOTO", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #ffffff;
    
}
.button-tab{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
    background-color: #4D5AE5;
    border: none;
    width: Hug (169px);
    height: Hug (56px);
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    gap: 10px;
}
.button-tab:hover {
    color: #2E2F42;
}

.main-section{
    background-color: #2E2F42;

}
.button{
    cursor: pointer;
}

.button-style{
    list-style: none;
}
.button-one{
    font-family: sans-serif; 
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #404BBF;
    border: none;
    
}

.button-one:hover {
    color: #2E2F42;
}
.button-one:focus {
    color:#2E2F42; 
}
.button-one:active {
    color: #2E2F42;
}
.button-one:visited {
    color: #2E2F42;
}
.button-item{
    color: #4D5AE5;
    background-color: #F4F4FD;
    border-color: #E7E9FC;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.button-item:hover {
    color: var(--primary-white-color); 
    background-color: #404BBF;
}
.button-item:focus {
    color: var(--primary-white-color);
    background-color: #404BBF;
}
.button-item:active {
    color: var(--primary-white-color);
    background-color: #404BBF;
}
.button:visited {
    color:var(--primary-white-color);
    background-color: #404BBF;
}

.list-section{
    list-style: none;
}

.team-list-section{
    list-style: none;
    background-color:#F4F4FD;
}
.image-list{
    list-style: none;
}

.header-title{
    font-family: "ROBOTO", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42;
}

.section-text{
    font-family: "ROBOTO", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}
.header-two{
    font-family: "ROBOTO", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
}

.header-text{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2F42
}
.label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455
}
.display{
    background-color: #2E2F42;
}
.studio-footer {
    font-family: "RALEWAY", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #F4F4FD;
}

.footer-text{
    font-family:  "ROBOTO", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F4F4FD
}