body {
    font-family: sans-serif;
    font: roboto;
}
.contacts-text:hover {
    color: green;
}
.contacts-text:focus {
    color: orange;
}
.contacts-text:active {
    color: red;
}
.contacts-text:visited {
    color:purple;
}

.pointer {
    cursor: pointer;
}
.button-item {
    color: #4D5AE5; 
    font: roboto; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.button-item:hover {
    color: green; 
}
.button-item:focus {
    color: orange;
}
.button-item:active {
    color: red;
}
.button:visited {
    color:purple;
}
.header-text {
    font-family: sans-serif;
    font: roboto;
    color: black
}